@import './src/_base.scss';

.Statistics {
    display: grid;
    grid-template-columns: 1fr;
    @media screen and (min-width: $breakpoint-width-tablet) {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
    @media screen and (min-width: $breakpoint-width-desktop) {
        grid-template-columns: 1fr 1fr;
        grid-gap: 0 3rem;
    }
}
