@import './src/_base.scss';

.SelectBox {
    @extend %card;
    position: relative;
    flex-direction: column;
    justify-content: center;
    height: 3rem;
    line-height: 1.2;
    cursor: pointer;
    overflow: hidden;
    &::after {
        transition: background var(--duration-short) var(--timing-function-standard);
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }
    &:hover::after {
        background: var(--color-shadow);
    }
}

.SelectBox-summary {
    white-space: pre;
    overflow: hidden;
    text-overflow: ellipsis;
}

.SelectOptions {
    @extend %card;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
