@import './src/_base.scss';

.Footer {
  @extend %width-control;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4rem;
  color: var(--color-foreground-dim);
  text-align: center;
  & br {
    display: none;
    @media screen and (min-width: $breakpoint-width-tablet) {
      display: block;
    }
  }
}
