@import './src/_base.scss';

.Main {
  @extend %width-control;
  display: flex;
  flex-direction: column;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  @media screen and (min-width: $breakpoint-width-tablet) {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}
