@keyframes UserForm-typing-indicator-bounce {
  0% {
    transform: translateY(0);
  } 100% {
    transform: translateY(-0.25em);
  }
}

.UserForm {
  position: relative;
  border-radius: 0.5rem;
  box-shadow:
    0 0 0.125rem rgba(0, 0, 0, 0.1), 0 0 0.25rem rgba(0, 0, 0, 0.1), 0 0 0.5rem rgba(0, 0, 0, 0.1),
    0 0 1rem rgba(0, 0, 0, 0.1), 0 0 2rem rgba(0, 0, 0, 0.1);
}

.UserForm-indicator {
  transition: opacity var(--duration-short) ease;
  opacity: var(--opacity-dim);
  font-size: 1.125rem;
  text-align: center;
  line-height: 1.5rem;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 0.25rem;
  overflow: hidden;
  user-select: none;
  & div {
    height: 100%;
    width: 100%;
    border-radius: 0.25rem;
  }
}

.UserForm-indicator-avatar {
  background-size: contain;
  background-repeat: no-repeat;
}

.UserForm-indicator-typing,
.UserForm-indicator-unknown,
.UserForm-indicator-error {
  background: var(--color-accent);
  color: var(--color-foreground);
}

.UserForm-indicator-typing {
  & span {
    animation:
      UserForm-typing-indicator-bounce calc(var(--duration-long) / 2) cubic-bezier(0.1, 0, 0.5, 1) infinite alternate;
    display: inline-block;
    @for $i from 1 through 3 {
      &:nth-child(#{$i}) {
        animation-delay: calc(#{$i - 1} * var(--duration-long) / 15);
      }
    }
  }
}

.UserForm-login {
  flex-grow: 1;
  width: 0;
  height: 3rem;
  padding: 0;
  margin-left: 0.75rem;
  line-height: 3rem;
  &::placeholder {
    color: var(--color-accent-dim);
    opacity: 1;
  }
}

.UserForm-button {
  transition: var(--duration-short) ease;
  padding: 0;
  height: 3rem;
  width: 3rem;
  border-radius: 0.5rem 0 0 0.5rem;
  text-align: center;
  user-select: none;
  cursor: pointer;
  &:not(:disabled):active,
  a:focus &:not(:disabled) {
    background: var(--color-accent-dim);
    color: var(--color-foreground);
  }
  &:disabled {
    opacity: var(--opacity-dim);
  }
}

.UserForm-search-box {
  position: absolute;
  overflow: hidden;
}

.UserForm-search-list {
  transition: height var(--duration-short) ease;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0;
  margin: 0;
}

.UserForm-search-result {
  transition: background var(--duration-short) ease, border-color var(--duration-short) ease;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 3rem;
  padding-left: 0.75rem;
  border-top: 1px solid var(--color-background-dim);
  outline: none;
  align-items: center;
  text-align: left;
  line-height: 3rem;
  font-size: 1.5rem;
  text-overflow: ellipsis;
  &:hover,
  &:focus {
    border-top-color: transparent;
    background: var(--color-background-dim);
  }
}
