.UserSearchResults {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0;
  margin: 0;
  border-radius: 0 0 0.5rem 0.5rem;
  background: var(--color-foreground);
  color: var(--color-accent);
  box-shadow:
    0 0.08rem 0.12rem var(--color-shadow), 0 0.16rem 0.24rem var(--color-shadow),
    0 0.32rem 0.48rem var(--color-shadow), 0 0.64rem 0.96rem var(--color-shadow);
  overflow: hidden;
}

.UserSearchResults-user {
  transition: background var(--duration-short) ease, border-color var(--duration-short) ease;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 3rem;
  padding-left: 0.75rem;
  border-top: 1px solid var(--color-background-dim);
  outline: none;
  text-align: left;
  font-size: 1.5rem;
  cursor: pointer;
  &:hover,
  &:focus {
    border-top-color: transparent;
    background: var(--color-background-dim);
  }
}
