:root {
  --color-background: #000b2e;
  --color-accent: #7a27ff;
  --color-accent-dim: rgba(122, 39, 255, 0.75);
  --color-foreground: #fff;
  --color-foreground-dim: rgba(255, 255, 255, 0.75);
  --font-family-stack: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue';
  --font-weight: 700;
}

::selection {
  background: var(--color-accent);
  color: var(--color-foreground);
}

body {
  margin: 0;
  background: var(--color-background);
  color: #fff;
  font-family: var(--font-family-stack);
  font-weight: var(--font-weight);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
}

h1 {
  font-size: 1.75rem;
  font-style: italic;
  text-shadow:
    0 0 .033em #fff, 0 0 .08em #fff,
    0 0 .1em var(--color-accent), 0 0 .2em var(--color-accent),
    0 0 .3em var(--color-accent), 0 0 1em var(--color-accent), 0 0 1.5em var(--color-accent);
}
