%width-control {
  margin: 0 auto;
  width: 100%;
  max-width: 100rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  @media screen and (min-width: 40rem) {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}

%height-control {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  @media screen and (min-width: 40rem) {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}

%card {
  transition: border-radius var(--duration-short) ease;
  display: flex;
  padding: 0 0.75rem;
  margin: 0;
  border-radius: 0.5rem;
  background: var(--color-foreground);
  color: var(--color-accent);
  box-shadow:
    0 0.08rem 0.12rem var(--color-shadow), 0 0.16rem 0.24rem var(--color-shadow),
    0 0.32rem 0.48rem var(--color-shadow), 0 0.64rem 0.96rem var(--color-shadow);
}
