@import './src/_base.scss';

.ControlsSearch {
    @extend %card;
    flex-direction: row;
    align-items: center;
    padding-right: 0;
}

.ControlsSearch-button {
    transition: background var(--duration-short) var(--timing-function-standard),
        color var(--duration-short) var(--timing-function-standard);
    padding: 0;
    height: 3rem;
    width: 3rem;
    text-align: center;
    line-height: 3rem;
    user-select: none;
    cursor: pointer;
    &:not(:disabled):active {
        background: var(--color-accent);
        color: var(--color-foreground);
    }
    &:disabled {
        opacity: var(--opacity-dim);
        cursor: default;
    }
}
